.dot1 {
  fill:white;
  stroke:black;
}
.dot2 {
  fill:black;
  stroke:none;
}
.dot3 {
  font-family:"Verdana";
  font-size:10px;
  fill:black;
}
.dot1s {
  fill:white;
  stroke:red;
}
.dot2s {
  fill:red;
  stroke:none;
}
.dot1v {
  fill:white;
  stroke:green;
}
.dot2v {
  fill:green;
  stroke:none;
}
.line1 {
  fill:none;
  stroke:black;
  visibility:visible;
}
.line2 {
  fill:none;
  stroke:black;
  visibility:hidden;
}
