@CHARSET "UTF-8";
.game-rule {
	border-style:double;
	background-color: LightGoldenRodYellow;
	margin:10px;
	padding:10px;
}
.game-logo {
	cursor:crosshair;
	border-style:dotted;
	border-color:white;
	border-width:1px;
}
.game-logo-selected {
	cursor:crosshair;
	border-style:dotted;
	border-color:blue;
	border-width:1px;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
